Source: libpam-rfid
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: admin
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), python (>= 2.7), python-setuptools 

Package: libpam-rfid
Provides: pamrfid
Replaces: pamrfid
Conflicts: pamrfid
Depends: python (>= 2.7), libpam-python, python-rfid, ${python:Depends}, ${misc:Depends}
Architecture: all
Homepage: http://www.pm-codeworks.de/pamrfid.html
Description: Pluggable Authentication Module (PAM) for hardware authentication via RFID
 A 125kHz UART compatible RFID reader is required to use this module. The reader must be compatible with the EM4100 protocol. PAM RFID was developed with the RDM6300 RFID reader.
