Source: libpam-rfid
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: admin
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               python (>= 2.7),
               python-setuptools,
               bash-completion 
Homepage: http://www.pm-codeworks.de/pamrfid.html

Package: libpam-rfid
Provides: pamrfid
Replaces: pamrfid
Conflicts: pamrfid
Depends: python (>= 2.7),
         python-argparse,
         libpam-python,
         python-rfid (>=1.1),
         bash-completion,
         ${python:Depends},
         ${misc:Depends}
Architecture: all
Description: Pluggable Authentication Module for hardware authentication via RFID
 A 125kHz UART compatible RFID reader is required to use this module. The
 reader must be compatible with the EM4100 protocol. PAM RFID was developed
 with the RDM6300 RFID reader.
