Package: pamrfid
Version: 0.5
Section: admin
Priority: extra
Depends: python (>= 2.7), libpam-python, python-rfid
Recommends: python-rfid
Architecture: all
Installed-Size: 30
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Homepage: www.pm-codeworks.de/pamrfid.html
Description: Pluggable Authentication Module (PAM) for hardware authentication via RFID.
  .
  Note: A 125kHz UART compatible RFID reader is required! 
