Package: pamrfid
Version: 0.2
Section: admin
Priority: extra
Depends: python (<= 3.0), libpam-python, python-serial
Architecture: all
Installed-Size: 30
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Homepage: www.pm-codeworks.de/pamrfid.html
Description: Pluggable Authentication Module for hardware authentication via RFID.
 A UART compatible RFID reader sensor is required for this module. 
